*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.details-div{
    margin: 20px 50px;
    background-color: rgb(247, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    height: auto;
}

.details{
    display: flex;
    flex-direction: column;
}

.details, input{
    margin-bottom: 10px;
    padding: 7px 2px;
    border-radius: 10px;
}

/*------------------------------------------------------*/

.expNholder{
    display: flex;
    justify-content: space-between;
}


/*------------------------------------------------------*/


.vcard{
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    padding: 20px 20px;
    width: 500px;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.theCvc{
    font-size: 17px;
    font-weight: 400;
}


.createCardBtn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 100px;
}

.createCardBtn:not(:disabled):hover,
.createCardBtn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.createCardBtn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}